# A RAMANAGIRI
# RA2011003010528

In [1]:
import pandas as pd 
s = pd.read_csv('/content/cristiano_vs_messi.csv')
s.head()

,player,comp,round,date,venue,opp,pos,min,type,assisted
0,ronaldo,Liga NOS,6,10/7/2002,H,Moreirense,RW,34',NaN,NaN
1,ronaldo,Liga NOS,6,10/7/2002,H,Moreirense,NaN,90',NaN,NaN
2,ronaldo,Liga NOS,8,10/26/2002,A,Boavista,NaN,88',NaN,Carlos Martins
3,ronaldo,Taça de Portugal Placard,Fourth Round,11/24/2002,H,Estarreja,NaN,67',Left-footed shot,César Prates
4,ronaldo,Taça de Portugal Placard,Fifth Round,12/18/2002,H,Oliv. Hospital,NaN,13',NaN,NaN

In [2]:
s.head(15)

,player,comp,round,date,venue,opp,pos,min,type,assisted
0,ronaldo,Liga NOS,6,10/7/2002,H,Moreirense,RW,34',NaN,NaN
1,ronaldo,Liga NOS,6,10/7/2002,H,Moreirense,NaN,90',NaN,NaN
2,ronaldo,Liga NOS,8,10/26/2002,A,Boavista,NaN,88',NaN,Carlos Martins
3,ronaldo,Taça de Portugal Placard,Fourth Round,11/24/2002,H,Estarreja,NaN,67',Left-footed shot,César Prates
4,ronaldo,Taça de Portugal Placard,Fifth Round,12/18/2002,H,Oliv. Hospital,NaN,13',NaN,NaN
5,ronaldo,Premier League,11,11/1/2003,H,Portsmouth,RW,80',Right-footed shot,NaN
6,ronaldo,FA Cup,Fifth Round,2/14/2004,H,Man City,RW,74',Tap-in,Ryan Giggs
7,ronaldo,Premier League,29,3/20/2004,H,Spurs,NaN,89',Right-footed shot,NaN
8,ronaldo,Premier League,32,4/10/2004,A,Birmingham,NaN,60',Header,Ryan Giggs
9,ronaldo,Premier League,38,5/15/2004,A,Aston Villa,NaN,4',Right-footed shot,NaN
10,ronaldo,FA Cup,Final,5/22/2004,H,Millwall,RW,44',Header,Gary Neville
11,ronaldo,Premier League,16,12/4/2004,H,Southampton,NaN,87',Right-footed shot,Gary Neville
12,ronaldo,FA Cup,Third Round,1/19/2005,A,Exeter City,NaN,9',NaN,Paul Scholes
13,ronaldo,Premier League,24,1/22/2005,H,Aston Villa,NaN,8',Right-footed shot,Louis Saha
14,ronaldo,Premier League,25,2/1/2005,A,Arsenal,RW,54',Left-footed shot,Ryan Giggs

In [3]:
s.tail()

,player,comp,round,date,venue,opp,pos,min,type,assisted
1295,messi,NaN,NaN,NaN,NaN,NaN,NaN,82',Left-footed shot,Sergi Roberto
1296,messi,LaLiga,11,11/29/2020,H,CA Osasuna,RW,73',Left-footed shot,Trincão
1297,messi,LaLiga,13,12/13/2020,H,Levante,CF,76',Left-footed shot,Frenkie de Jong
1298,messi,LaLiga,14,12/19/2020,H,Valencia,CF,45'+4,Header,NaN
1299,messi,LaLiga,15,12/22/2020,A,Real Valladolid,SS,65',Left-footed shot,Pedri

In [4]:
s.columns

Index(['player', 'comp', 'round', 'date', 'venue', 'opp', 'pos', 'min', 'type',
       'assisted'],
      dtype='object')

In [6]:
s.describe()

,player,comp,round,date,venue,opp,pos,min,type,assisted
count,1300,846,846,846,846,846,793,1300,1281,874
unique,2,15,53,745,2,182,10,107,12,132
top,ronaldo,LaLiga,Group Stage,10/7/2002,H,Sevilla FC,CF,90',Left-footed shot,Luis Suárez
freq,656,468,91,2,480,31,246,29,496,48

In [7]:
print(s.isnull().sum())

player        0
comp        454
round       454
date        454
venue       454
opp         454
pos         507
min           0
type         19
assisted    426
dtype: int64

In [8]:
s.comp=s.comp.fillna("unknown")
print(s.isnull().sum())

player        0
comp          0
round       454
date        454
venue       454
opp         454
pos         507
min           0
type         19
assisted    426
dtype: int64

In [11]:
s.date=s.date.fillna(0)
print(s.isnull().sum())

player        0
comp          0
round       454
date          0
venue       454
opp         454
pos         507
min           0
type         19
assisted    426
dtype: int64

In [12]:
s.venue=s.venue.fillna(0)
print(s.isnull().sum())

player        0
comp          0
round       454
date          0
venue         0
opp         454
pos         507
min           0
type         19
assisted    426
dtype: int64

In [13]:
s.opp=s.opp.fillna(0)
print(s.isnull().sum())

player        0
comp          0
round       454
date          0
venue         0
opp           0
pos         507
min           0
type         19
assisted    426
dtype: int64

In [14]:
s.pos=s.pos.fillna(0)
print(s.isnull().sum())

player        0
comp          0
round       454
date          0
venue         0
opp           0
pos           0
min           0
type         19
assisted    426
dtype: int64

In [15]:
s.type=s.type.fillna(0)
print(s.isnull().sum())

player        0
comp          0
round       454
date          0
venue         0
opp           0
pos           0
min           0
type          0
assisted    426
dtype: int64

In [16]:
s.assisted=s.assisted.fillna(0)
print(s.isnull().sum())

player        0
comp          0
round       454
date          0
venue         0
opp           0
pos           0
min           0
type          0
assisted      0
dtype: int64

In [18]:
s.head(25)

,player,comp,round,date,venue,opp,pos,min,type,assisted
0,ronaldo,Liga NOS,6,10/7/2002,H,Moreirense,RW,34',0,0
1,ronaldo,Liga NOS,6,10/7/2002,H,Moreirense,0,90',0,0
2,ronaldo,Liga NOS,8,10/26/2002,A,Boavista,0,88',0,Carlos Martins
3,ronaldo,Taça de Portugal Placard,Fourth Round,11/24/2002,H,Estarreja,0,67',Left-footed shot,César Prates
4,ronaldo,Taça de Portugal Placard,Fifth Round,12/18/2002,H,Oliv. Hospital,0,13',0,0
5,ronaldo,Premier League,11,11/1/2003,H,Portsmouth,RW,80',Right-footed shot,0
6,ronaldo,FA Cup,Fifth Round,2/14/2004,H,Man City,RW,74',Tap-in,Ryan Giggs
7,ronaldo,Premier League,29,3/20/2004,H,Spurs,0,89',Right-footed shot,0
8,ronaldo,Premier League,32,4/10/2004,A,Birmingham,0,60',Header,Ryan Giggs
9,ronaldo,Premier League,38,5/15/2004,A,Aston Villa,0,4',Right-footed shot,0
10,ronaldo,FA Cup,Final,5/22/2004,H,Millwall,RW,44',Header,Gary Neville
11,ronaldo,Premier League,16,12/4/2004,H,Southampton,0,87',Right-footed shot,Gary Neville
12,ronaldo,FA Cup,Third Round,1/19/2005,A,Exeter City,0,9',0,Paul Scholes
13,ronaldo,Premier League,24,1/22/2005,H,Aston Villa,0,8',Right-footed shot,Louis Saha
14,ronaldo,Premier League,25,2/1/2005,A,Arsenal,RW,54',Left-footed shot,Ryan Giggs
15,ronaldo,Premier League,25,2/1/2005,A,Arsenal,RW,58',Tap-in,Ryan Giggs
16,ronaldo,FA Cup,Fifth Round,2/19/2005,A,Everton,0,58',Tap-in,Paul Scholes
17,ronaldo,FA Cup,Sixth Round,3/12/2005,A,Southampton,0,45'+1,Left-footed shot,Ruud van Nistelrooy
18,ronaldo,Premier League,30,3/19/2005,H,Fulham,0,21',Right-footed shot,Roy Keane
19,ronaldo,FA Cup,Semi-Finals,4/17/2005,A,Newcastle,RW,76',Right-footed shot,Ruud van Nistelrooy
20,ronaldo,Champions League Qualifying,3rd round,8/9/2005,H,Debrecen,0,63',Right-footed shot,Paul Scholes
21,ronaldo,Premier League,11,10/29/2005,A,Middlesbrough,0,90',Header,Paul Scholes
22,ronaldo,EFL Cup,Round of 16,11/30/2005,H,West Brom,RW,12',Penalty,0
23,ronaldo,Premier League,20,12/31/2005,H,Bolton,0,68',Right-footed shot,Wayne Rooney
24,ronaldo,Premier League,20,12/31/2005,H,Bolton,0,90',Left-footed shot,Ruud van Nistelrooy